@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "../Shared/_Layout.cshtml";
}

<h2>Import List</h2>

@using (Html.BeginForm("Import", "Imports", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="form-group">
            @Html.Label("File", new { @class = " col-md-2" })
            <div class="col-md-10">
                <input type="file" id="Import" name="upload" />
            </div>
        </div>


        <div class="form-group">
            @Html.Label("Upload", new { @class = "col-md-2" })
            <div class="col-md-10">
                <input type="submit" value="Upload" />

            </div>
        </div>
    </div>
    

}
